@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --light-green: #C5D512;
    --dark-green: #A3B104;
}

/* Start Home Style */
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/assets/home/home-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

header .header__logo img{
    width: 70px;
}

header .header__nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .header__nav ul li{
    padding: 5px 10px;
}

header .header__nav ul li a{
    color: #fff;
} 

header .header__nav ul li:hover{
    background-color: var(--light-green);
    border-radius: 5px;
}

header .header__login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .header__login img{
    width: 25px;
}

header .header__login a{
    color: #fff;
}

.section__home{
    width: 100%;
    height: 85%;
    padding: 0px 20px 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.section__home .home__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}
.section__home .home__content h1{
    font-size: 3rem;
    font-weight: bold;
}

.section__home .home__content h1 span{
    color: var(--light-green);
}

.section__home .home__content p{
    font-size: 1.3rem;
    font-weight:300;
}

.section__home .home__content .btn__home{
    margin-top: 30px;
}
.section__home .home__content .btn__home a{
    width: 150px;
    background-color: var(--dark-green);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-weight:600;
    color: white;
}

.section__home .home__content .btn__home a:hover{
    background-color: #fff;
    color: var(--dark-green);
}

.section__home .home__img img{
    width: 300px;
}

.section__home .slide__btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section__home .slide__btn img{
    width: 50px;
}
/* End home style */


/*ABOUT US*/
*{
    
   margin: 0;
   padding: 0;
}
body {
    height: 100%;
    width: 100%;
  }
section.section__about{
    background-image: url(/assets/about/background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;  
}
#us{
    text-align: center;
}


.features{
    display: flex;
    text-align: center;
    
}
.cercl{
    border-radius: 200%;
  
   width: 30%;
   height: 40%;
   padding-left: 40%;
   padding-right: 40%;
}

.stat{
    width: 40%;
    height: 40%;
    margin-top: 10%;
}
.statiq{
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: #1A430C;
    color: white;
    margin-top: 10%;
}
.imgs{
    text-align: center;
    width: 100px;
}
/* End ABOUT US style */

/* Start footer */
footer{
    padding: 30px 5%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

footer h6{
    color: #fff;
    font-weight: 300;
    text-align: center;
}
footer .media img{
    width: 50px;
}
footer img {
    width: 70px;
}
/* End footer */

/* begining of services style*/
.sectionser{ 
    background-image: url(./assets/services/oily.jpg);  
   background-position: center;
   background-size: cover;
   text-align: center; 
   padding: 60px;
   height: 70vh;
   width: 100%;
   
 
 }
.sectionser h1{
    color: #434806;
    padding: 50px;
}
.sectionser h4{
    color: #434806;
    padding: 40px;
}
.sectionmidl{
    display: flex;
    flex-direction: row;
    gap: 6%;
    margin-top: 60px;
}
.firstpic{
    width: 400px;
    height: 200px;
    margin-left: 10px;
   
}
.sectionmidl2{
    display: flex;
    flex-direction: row;
    gap: 6%;
    margin-top: 60px;
}
.secondimg{
    width: 400px;
    height: 200px;
    margin-left: 10px;
   
}

 .h3midl h3{
       display: flex;
       flex-direction: column;
       margin-left :500px;
       margin-bottom: 40px;
}
.lastsection{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
 .icon{
    margin-left: 0px;
    margin-top: 200px;
    margin-top: 100px;
 }
 .card{
    margin-right: 200px;
    margin-left: 150px;
   
 }

 /* Start Contact Us Style */
.contact__home{
    background-image: url(./assets/contact/back1.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

.contact__home h1{
    padding: 11% 50% 0% 6%;
    font-size: 60px;
    font-weight: bold;
    color: #8B8A3B;
}

.contact__home p{
    padding: 0% 50% 11% 6%;
    font-weight: 300px;
    color: #596005;
}

.contact__help{
    color: #596005;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 15% 5% -3%;

}

.contact__help img{
    width: 575px;
}

.help{
    padding-left: 40%;
}

.halp h2{
    font-size: 40px;
    font-weight: 400;
    margin: 0% 0% 10% ;
}

.choice p{
    font-size: 20px;
    margin: 4% 1% ;
}

.contact__form{
    color: #596005;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__form h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 1%;
}

.contact__form .forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact__form .forms .input{
    border: 1.5px solid  var(--dark-green);
    margin: 4%;
    padding: 10% 50% 10% 10%;
}

.contact__form .input1{
    border: 1.5px solid  var(--dark-green);
    margin: 4%;
    padding: 10% 50% 40% 10%;
}

.contact__form button{
    background-color: #A3B104;
    color: #fff;
    padding: 5px 30px;
    border: 1px solid #A3B104;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 5%;
}

/* End Contact Us Style */

/* Start ABOUT US Style*/
.section__about{
    background-image: url(./assets/about/background.jpg);
    background-position: center;
    background-size: cover;  
   
}
.section__about h1{
    padding:  10% 50% 0% 5%;
    font-size: 50px;
    font-weight: bold ;
    color: #8A8A3C;
}
.section__about p{
    padding: 1% 50% 10% 5% ;
    font-weight: 300;
    color: #8A8A3C;
}
.section__about h6{
    font-weight: 300;
    color: #8A8A3C;
}
#us{
    text-align: center;
    color: #383811;
}


.features{
    padding: 2rem;
    display: flex;
    text-align: center; 
    justify-content: center;
    gap: 20px;
}

.feature{
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.feature:hover{
    background-color: var(--dark-green);
    border-radius: 5px;
}
.features .feature img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    /* padding-left: 40%;
    padding-right: 40%; */
}


.statiq{
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #1A430C;
    color: white;
    margin-top: 20%;
}
.stat{
    width: 30%;
    
}

/* End ABOUT US style */